<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to cocktails_path, class: "navbar-brand" do %>
    <i class="fas fa-chevron-left"></i>
  <% end %>

  <div class="bookmark">
    <i class="far fa-bookmark"></i>
  </div>
</div>
