<div class="review row">
  <%= cl_image_tag review.user.photo, class: "avatar-large col-3" %>
  <div class="row col-9">
    <div class="col-12">
      <% for i in 1..review.rating do %>
        <i class="fas fa-star"></i>
      <% end %>
      <% for i in 1..(5 - review.rating) do %>
        <i class="far fa-star"></i>
      <% end %>
<!--       <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i> -->
    </div>
    <div class="col-12 content">
      <%= review.content %>
    </div>
  </div>
</div>

